#generic-image-box {
    padding: 20px;
    position: relative;
    width: max-content;
}

#generic-image-box::before {
    border-bottom-left-radius: 3px;
    border-top: none;
    border-right: none;
    border-left: 5px solid #323232;
    border-bottom: 5px solid #323232;
    content: "";
    padding: 17px;
    position: absolute;
    bottom: 22%;
    left: 18%;
}

#generic-image-icon {
    color: #323232;
    font-size: 50px;
}